@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel slide contenedor-slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/bici1.jpg" class="d-block w-100" alt="bici1" height="430">
            <div class="carousel-caption d-none d-md-block">
                <h5>Su mejor opción</h5>
                <p>Nuestra calidad esta asegurada, tenemos lo mejor del mercado en bicicletas.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/bici2.jpg" class="d-block w-100" alt="bici2" height="430">
            <div class="carousel-caption d-none d-md-block">
                <h5>Calidad y disfrute</h5>
                <p>Son las cualidades aseguradas de todos nuestro productos.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/cleta.jpg" class="d-block w-100" alt="bici3" height="430">
            <div class="carousel-caption d-none d-md-block">
                <h5>El mejor soporte en bicicletas de todo el pais</h5>
                <p>100% Garantizado.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<main class="seccion-principal">

   
    <div class="seccion-1">
        <h1>Sobre Ciclo Mania CR</h1>
        <p>
            Somos una empresa costarricense con amplia experiencia en el campo de las bicicletas, su soporte y ventas de accesorios.
            Nuestra experiencia de 30 años en este campo nos ha permitido adaptarnos a un
            mercado cambiante que evoluciona día a día presentando nuevos desafíos, implementando nuevos servicios
            especializados de sobre este lindo deporte.
        </p>
    </div>
    <div class="seccion-2">
        <p>
            ¿A qué nos dedicamos?
            A lo largo de nuestra historia nos hemos enfocado principalmente a la venta y soporte de bicicletas,
             artículos deportivos y todo tipo de accesorios complementarios.
        </p>
    </div>
    <div class="seccion-3">
        <div>
            <h2>¡Contáctenos!</h2>
            <p>Es para nosotros un gusto servirle. Nos caracterizamos por generar vínculos comerciales en los cuales los clientes son nuestros amigos.
             <br />Numero de teléfono: 2570-1211 - Correo Electrónico: CicloManiaCr@info.com</p>
        </div>
    </div>
</main>